NEXT_PUBLIC_SUPABASE_URL=https://bkdjillyzyyysmkpvnos.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrZGppbGx5enl5eXNta3B2bm9zIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQxNTQxOTUsImV4cCI6MjA4OTczMDE5NX0.1RH1EyQATzpK7ZYUulK4F0g2sD6W5XbR290P8NSisKo